@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set image for clear weather */
.clearWeather{
  background-image: url("https://img.freepik.com/free-photo/field-with-trees-sunset_1253-200.jpg?t=st=1725257744~exp=1725261344~hmac=03f90ae01f165bb5ca9eff99fd0845882e77d8d3e5959471f5293bf9b5f16c26&w=740");
  background-size: cover;
}
/* set image for rainy weather */
.rainyWeather{
  background-image: url("https://img.freepik.com/free-photo/weather-effects-composition_23-2149853295.jpg?t=st=1725258230~exp=1725261830~hmac=07f8b8851d42adffaf0dd4732b8934aee786c04018fb0e69dcfd0c60c9518b75&w=740");
  background-size: cover;
}
/* set image for cloudy weather */
.cloudyWeather{
  background-image: url("https://img.freepik.com/free-photo/grassy-field-with-leafless-trees-distance-cloudy-sky-background_181624-4535.jpg?t=st=1725257590~exp=1725261190~hmac=2fefe42e3f7fd6595550734f0860ae3b1ec066bba34af587c8c306a2046fa77e&w=740");
  background-size: cover;
}